{% extends 'shop/base.html' %}

{% block content %}
<h1>{{product.name}}</h1>

{% if product.photo %}
<p><img class="img-article-left" src="{{product.photo.url}}"></p>
{% endif %}

{{product.description|linebreaks}}
  <li style="margin-left: 25px;">Город: {{ product.city }}</li>
  <li style="margin-left: 25px;">Количество: {{ product.count }}</li>
  <li style="margin-left: 25px;">Продавец: {{ product.owner_id }}</li>
  <li style="font-weight:bold;">Цена: {{ product.price }}</li>

<form action="{{product.id}}/purchase" method="post">
{% csrf_token %}
<input type="submit" class="purchase" value="Купить" name="purchase">
</form>
{% endblock %}
